.env
.env.production
docker-compose-prod.yml
__pycache__/
db.sqlite3
docker/
build_folder/
docker-compose.debug.yml
docker-compose.prod.test.yml
docker-compose.prod.yml
.vscode/
init-letsencrypt.sh
docker-compose.yml
backend/apps/spacs/
backend/build/
backend/docker-compose.debug.yml
backend/requirements.txt
webserver/nginx-proxy-prod.conf
Pipfile
Pipfile.lock
debug.log
frontend/package.json
frontend/yarn.lock
